[submodule "noq_backend_fork"]
  path = noq_backend_python
  url = https://github.com/tobbe-joh/noq_backend_fork
[submodule "noQ-Frontend-fork"]
  path = noQ-Frontend
  url = https://github.com/tobbe-joh/noQ-Frontend-fork
